</main>
<!-- <footer class="footer">
    <h3 class="footer-text">Created By Lakshay.</h3>

    <div class="footer-div">
        <a href="https://www.instagram.com/lakshay_611/"><img class="insta" src="images/instagram.png" alt=""></a>
        <a href="https://github.com/Lakshay116"><img class="git" src="images/social.png" alt=""></a>
    </div>
    <br>
    <h4 style="text-align: left; font-family: 'Courier New', Courier, monospace; ">jangralakshay611@gmail.com</h4>
</footer> -->




<footer class="footer">
    <h2 class="get_txt" style="padding: 10px;">Get In touch. <br> <small>&copy;2024 all rights reserved Lakshay.</small> </h2>
    <div class="email">
        <p ><a href="mailto:jangralakshay611@gmail.com"
            style="text-decoration: none; color: aliceblue;">
            ✉️ jangralakshay611@gmail.com</a></p>
    </div>
    <!-- <div class=" copyright">
        <p style="padding: 25px;">&copy;Lakshay</p>
    </div> -->
    <div class="contact_img">
        <a href="https://www.linkedin.com/in/lakshayjangra394/" target="_blank"><img class="linked_img"
                src="images/linkedin.png" alt=""></a>
        <a href="https://www.instagram.com/lakshay_611/" target="_blank"><img class="insta_img"
                src="images/instagram.png" alt=""></a>
        <a href="https://github.com/Lakshay116" target="_blank"><img class="github_img"
                src="images/social.png" alt=""></a>
    </div>

</footer>
<script>
    function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display == "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
</body>

</html>
