<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/header-footer.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/parking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <header>
            <nav class="nav_bar">
                <div class="topnav">
                    <!-- <div class="logo"><label for="logo">Lakshay</label></div> -->
                    <div class="logo"><a href="#"><img class="logo_img" src="images/logo.png"></a></div>
                    <ul class="nav_list" id="myLinks">
                        <li class="list_item"><a href="/user" class="nav_a">Home</a></li>
                        <li class="list_item"><a href="/secrets" class="nav_a">About</a></li>
                        <li class="list_item"><a href="/parking" class="nav_a">Parking</a></li>
                        <li class="list_item"><a href="/contact" class="nav_a">contact</a></li>
                        <li class="list_item"><a href="/history" class="nav_a">history</a></li>
                        <li class="list_item" id="logout_bt"><a href="/logout" class="nav_a" id="logout_btn"
                                style="font-weight: bold; padding: 0px 3px 0px 3px;">Log Out</a></li>
                    </ul>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </nav>
        </header>