<%- include("partials/header.ejs") %>

<div class="contact-form">
<form class="con-form" action="/contact-submitin" method="post">
    <input name="name" type="text" class="feedback-input" placeholder="Name" />
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input  class="submit-contact" type="submit" value="SUBMIT" />
  </form>
</div>
<%- include("partials/footer.ejs") %>