
@media screen and (min-width: 800px) {
.entry_details{
margin-top: 2%;
    float: left;
    width: 30%;
    border-right:2px solid rgb(93, 90, 90);
    height: 90vh;
    /* background-color: rgb(231, 251, 251); */
    /* background-image: url(/images/car.jpg); */
    background-position: bottom;
    background-size:cover;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.entry_form{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    background-position: bottom;
}
.entries{
    font-size: 1rem;
    color: white;
    margin-left: 5%;
    margin-top: 7%;
    width: 90%;
    height: 6%;
    border: 0px;
    border-bottom: 2px white;
    background-color: transparent;
}

.entries:focus{
    outline: none;
}

.entry_btn{
    margin-top: 7%;
    height: 5%;
    width: 20%;
    font-size:larger;
    border: 0px;
    border-radius: 20px;
}
.entry_btn:hover{
    background-color:black;
    color: antiquewhite;
}


#search{
    font-size: 1.3rem;
    border-radius: 100px 0px 0px 100px;
    /* border-right: transparent; */
    border: transparent;
    height: 90%;
    /* margin-top: 15%; */
    width: 93%;
    float: left;
    padding-left: 2%;
    padding-top: .5%;
    /* height: 30px; */
}
#search:focus{
    outline: none;
}
.search_div{
    margin-left: 5%;
    border: 1px solid;
    text-align: left;
    border-radius: 100px;
    background-color: rgb(252, 252, 254);
    height: 5%;
    /* margin-top: 9%; */
    width: 90%;
    /* height: 30px; */
}

.search_img{
    margin-top: .5%;
    /* margin-left: 4%; */
    height: 80%;
    padding-left: 1%;
    width: 3.1%;
}
.search_img:hover{
    cursor: pointer;
}

.data_show{
    color: antiquewhite;
    margin-top: 3%;
    text-align: center;
    width: 70%;
    margin-left: 30%;
    height: 90vh ;
    /* background: radial-gradient(ellipse at bottom, rgb(189, 189, 228), rgb(181, 248, 248), rgb(200, 238, 200)); */
}

.data_table{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}

.dlt_img{
    width: 25px;
    padding: 0px;
}
.dlt_img:hover{
    cursor: pointer;
    background-color: rgb(162, 167, 167);
}

}

@media screen and (max-width: 800px) {

    .entry_details{
        margin-top: 2%;
            /* float: left; */
            width: 100%;
            height: 30%;
            /* background-color: rgb(231, 251, 251); */
            /* background-image: url(/images/car.jpg); */
            background-position: bottom;
            background-size:cover;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .entry_form{
            margin-top: 6%;
            width: 80%;
            height: 100%;
            margin-left: 10%;
            background-position: bottom;
        }
        .entries{
            font-size: 1rem;
            color: white;
            margin-left: 5%;
            margin-top: 7%;
            width: 90%;
            height: 6%;
            border: 0px;
            border-bottom: 2px white;
            background-color: transparent;
        }
        
        .entries:focus{
            outline: none;
        }
        
        .entry_btn{
            margin-top: 7%;
            height: 5%;
            width: 20%;
            font-size:larger;
            border: 0px;
            border-radius: 20px;
        }
        .entry_btn:hover{
            background-color:black;
            color: antiquewhite;
        }
        
        #search{
            font-size: 1rem;
            border-radius: 100px 0px 0px 100px;
            /* border-right: transparent; */
            border: transparent;
            height: 94%;
            
            width: 89%;
            float: left;
            padding-left: 2%;
            
        }
        #search:focus{
            outline: none;
        }
        .search_div{
            margin-left: 5%;
            border: 1px solid;
            text-align: left;
            border-radius: 100px;
            background-color: rgb(252, 252, 254);
            height: 7%;
            /* margin-top: 9%; */
            width: 90%;
            /* height: 30px; */
        }
        
        .search_img{
            margin-top: .5%;
            /* margin-left: 4%; */
            height: 80%;
            width: 6.3%;
        }
        .search_img:hover{
            cursor: pointer;
        }
        
        .data_show{
            color: antiquewhite;
            margin-top: 3%;
            text-align: center;
            width: 90%;
            margin-left: 5%;
            height: 55vh ;
            margin-top: 20%;
            /* background: radial-gradient(ellipse at bottom, rgb(189, 189, 228), rgb(181, 248, 248), rgb(200, 238, 200)); */
        }
        
        .data_table{
            margin-top: 2%;
            width: 100%;
            margin-left: 5%;
        }
        
        
        .dlt_img{
            width: 25px;
            padding: 0px;
        }
        .dlt_img:hover{
            cursor: pointer;
            background-color: rgb(162, 167, 167);
        }
}