.out {
    height: 90vh;
    display: block;
    align-content: center;
    text-align: center;
}

.bike_parking {
    float: left;
    width: 35%;
    background-color: rgb(159, 150, 240);
    height: 100%;
}

.veh_entry {
    width: 100%;
    height: 20%;
    background-color: aliceblue;
    border-bottom: solid 1px;
}

.bike_entry {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 79.7%;
    /* margin-top: 20%; */
    background-color: rgb(177, 244, 244);
}

.firstrow_bk {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}

.secondrow_bk {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    height: 100%;
    margin-top: 14%;
    width: 30%;
}

.thirdrow_bk {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}

.bkp_div {

    height: 4%;
    width: 80%;
    border: solid 1px;
}




.car_parking {
    width: 65%;
    background-color: rgb(177, 244, 244);

    height: 100%;
    margin-left: 35%;
}

.car_entry {
    width: 85%;
    margin-left: 15%;
    height: 100%;
    background-color: rgb(177, 244, 244);
}

.emptyrow_car {
    width: 100%;
    height: 16%;
    background-color: rgb(177, 244, 244);
}

.firstrow_car {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

.secondrow_car {
    display: flex;
    flex-direction: column;
    row-gap: 1.5%;
    margin-top: 12%;
    height: 30%;
    width: 100%;
}

.scrow_car {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 48.5%;
}

.thirdrow_car {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12%;
    width: 100%;
    height: 15%;
}

.carpk_div {
    width: 10%;
    height: 95%;
    border: solid 1px;
}

@media screen and (min-width:800px) {

    .cntr_div {
        height: 70vh;
        width: 50%;
        margin-left: 25%;
        background-color: aliceblue;
    }

}

@media screen and (max-width:800px) {

    .cntr_div {
        height: 40vh;
        width: 90%;
        margin-left: 5%;
        background-color: aliceblue;
    }
}